h3 {
  color: green;
  shape-image-threshold: inherit;
}
h2 {
  color: green;
}
p {
  color: rgb(4, 64, 4);
  background-color: rgb(213, 208, 208);
}
#dibash {
  color: green;
  background-color: white;
}
div {
}
